.control_btns {
    display: flex;
    gap: 10px;
    & button {
        margin-top: 8px;
    }

    & h1 {
        color: #0a0aff;
    }
}


.control_btns button {
    border: none;
    cursor: pointer;

    & img {
        width: 25px;
        height: 25px;
    }
}

.tasks_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 39px;
}